
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="../../assets/image/img-01.png" alt="IMG">
                </div>
                <form class="login100-form validate-form" #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
                    <span class="login100-form-title heading">
                        Password
                    </span>
                    
                    <div required class="wrap-input100 validate-input">
                        <input class="input100 inputs" type="password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input " data-validate = "Password is required">
                        <input class="input100 inputs" type="password" name="pass" placeholder="Confirm Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" routerLink="/signup2">
                            SUBMIT
                        </button>
                    </div>
    
                </form>
            </div>

        </div>
    </div>

    <router-outlet></router-outlet>
