
<button (click)=changeImage() id ='IDname'>Change Image</button><br>
<img [src]="'assets/image/'+imgname+'.png'">

<h3>{{"Hello world" | uppercase}}</h3>
<h3>{{"Hello world" | lowercase}}</h3>
<h3>{{"Hello world" | slice:0:3}}</h3>

<h3>{{"We will go on "+(datevar | date:"dd/MM/yy")}}</h3>
<h3>{{"We will go on "+(datevar | date:"dd/MMM/yy")}}</h3>
<h3>{{"We will go on "+(datevar | date:"dd/MMMM/yy")}}</h3>
<h3>{{"We will go on "+(datevar | date:"dd/M/yyyy")}}</h3>

<h3>{{"You have offer by "+ (0.5 | percent)}}</h3>
<h3>{{"You have offer by "+ (1000 | currency)}}</h3>
<app-ads Ads="Likhith" (Event)="Register($event)"></app-ads>

<router-outlet></router-outlet>